<%- include('./header.ejs')%>




 <div class="container-fluid">
    <div class="row">

    
        <div class="col-sm-12 col-md-3 col-lg-2 p-0">
            <%- include('./left.ejs')%>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-10 " style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
            

              <div class="container-fluid">
                <h1 class="text-center mt-4">Product Details</h1>
                <form action="/add-product" method="post"  enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" name="productname" class="form-control" id="productName" placeholder="Enter product name">
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Product Description</label>
                        <textarea class="form-control" name="productdescription" id="productDescription" rows="4" placeholder="Enter product description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        <input type="text" name="price" class="form-control" id="productPrice" placeholder="Enter product price">
                    </div>
                    <div class="form-group mt-3">
                        <label for="productImage">Product Image</label>
                        <input type="file" class="form-control-file" name="fileupload" id="productImage">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
            
        </div> 

        

    </div>
</div> 

