

 


<div class="container">
    <h1 class="dashboard-heading ps-0 "><a href="dashboard/index">Dashboard</a></h1>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/add-product">Add Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view-product">View-Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view-registration">View Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view-contact">View Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">View Signup</a>
        </li>
    </ul>
</div>


