<%-include('common/header')%>

<section>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assert/images/about_banner.jpg" class="d-block w-100" alt="...">
        <div class="about text-center py-2"><h2>About</h2></div>
      </div>
    </div>
  </div>




  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 degine about-img mt-4">
        <img src="assert/images/about-stone.jpg" alt="">
      </div>
      <div class="col-md-6 degine-text about-text py-4">
        <h1>PHILOSOPHY BEHIND OUR BRAND SERENO</h1>
        <p>Products of everyday use, enriching lifestyles, removing boundaries between indoors and outdoors, objects that we feel one with. Sereno’s eye-catching designs whether a sculptural planter or seating are conceived to be highly functional as well as beautiful, and attest to our mastery of new synthetic polymers and moulding processes. Significantly, these high quality weather-resistant designs enable a natural and almost seamless visual progression from indoor to outdoor spaces, thereby considerably extending living environments. Sereno products are functional and aesthetic, innovative and practical with a clean design philosophy.
            Through its product line, Sereno offers myriad ways of experiencing nature & light. Ways, which ask us to stop for a bit, relax, sit, breathe & enjoy the moment.
            Each Sereno product radiates light, and coupled with a wide array of colours and finishes, these indoor and outdoor pots become one with nature and its architectural surroundings.
        </p>
      </div>
    </div>


    
  <div class="container text-center mt-5">
    <div class="row">
      <div class="col-md-6 degine-text about-text py-4">
        <h1>PHILOSOPHY BEHIND OUR BRAND SERENO</h1>
        <p>An architect by qualification and a moulder by profession, Yuvraj started SERENO - a product line of indoor & outdoor lifestyle products complementing nature in 2009.

            Under Yuvraj’s leadership, the company has won numerous awards at International and national levels. European Product Design Awards, CII Design Excellence Award, The India I-Mark for Good Design and the Designomics award to name a few.
            
            A strong believer in everlasting design and its function, he enjoys taking the product through its complete lifecycle - from conceptualization to its final execution.
        </p>
      </div>
      <div class="col-md-6 degine about-img">
        <img src="assert/images/about_post.jpg" alt="" width="auto"  height="550px">
      </div>
    </div>


    <div class="container text-center mt-5">
        <div class="row">
          <div class="col-md-6 degine about-img">
            <img src="assert/images/about-2post.jpg" alt="" width="auto"  height="550px">
          </div>
          <div class="col-md-6 degine-text about-text py-4">
            <h1>PHILOSOPHY BEHIND OUR BRAND SERENO</h1>
            <p>SATISH GOKHALE

                A prolific industrial designer and an alumnus of the National Institute of Design (NID) and with over 35 years of experience, Satish has an innovative approach to converging materials and form together with function.
                
                
                He was awarded the Best Indian Designer by Business World and NID, and has won many accolades both in India and abroad. Satish is on the advisory boards of several reputed design schools, and also part of the India Design Council.
            </p>
          </div>
        </div>
    


        <div class="the-company py-5">
            <span class="company">
              <p>THE COMPANY BEHIND THE BRAND SERENO</p>
              <h2>Frontier Polymers Pvt. Ltd.</h2>
              <p>Established in 1990 started manufacturing rotomoulded products for industrial and household applications. Over the years with constant up gradation of production techniques and diversification of product lines Sereno was formed as a brand name in 2013. Under Sereno, we grew to be known as a moulding house with design at its core. Sereno started humbly with the production of life size planters and quickly grew to be known as one of the finest planter manufacturer from India. After establishing ourselves as one of the leading manufacturer of plastic planters and designer pots, we diversified our portfolio to designing and manufacturing of outdoor seating and lamps. Today with a diverse portfolio of products we aim to enhance our indoor and outdoor living

                Sereno products are being used globally in countries with temperatures ranging from -25 Deg C to + 50 Deg C. Sereno has been recognized for its elegant and functional designs by the leading design firms across the globe.</p>
            </span>
        </div>
    
      </section>

 







<%-include('common/footer')%>