<%-include('common/header')%>



<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assert/images/awards_523b7519-38b2-45e7-b25b-01e1014b3d5b.jpg" class="d-block w-100" alt="...">
        <div class="about text-center py-2"><h2>Awards</h2></div>
      </div>
    </div>
  </div>








<div class="container">
<div class="row">
    <div class="col">
      <img src="assert/images/award2_360x.jpg" alt="Image 1">
    </div>
    <div class="col">
      <img src="assert/images/award1_360x.jpg" alt="Image 2">
    </div>
    <div class="col">
      <img src="assert/images/award-2019_360x.jpg" alt="Image 3">
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
          <img src="assert/images/award3_83919773-b37a-4a7d-9403-0fe96ff21e81_360x.jpg" alt="Image 1">
        </div>
        <div class="col">
          <img src="assert/images/award5_b531eff6-e4b9-4ada-b7a8-e51b8344fa25_360x.jpg" alt="Image 2">
        </div>
        <div class="col">
          <img src="assert/images/award6_39d693e9-401d-4f34-93d8-f0b82a392cdc_360x.jpg" alt="Image 3">
        </div>
      </div>
    </div>

















<%-include('common/footer')%>