<%-include('common/header')%>


<div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
<div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images" src="assert/images/col2-1.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images1" src="assert/images/col2-2.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images2" src="assert/images/col2-3.png" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-list images-container">
          <img id="images3" src="assert/images/col1-4.webp" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>





<%-include('common/footer')%>
